.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c70101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #c70101;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-height {
  min-height: 75vh;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;

}

h2,
a,
label,
h3 {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.display-4 {
  padding-top: 25vh;
  font-style: bold;
  color: white;

}

.footer-height {
  min-height: 10vh;
}

.text-stroke {
  text-shadow: 2px 5px 5px black, 1px 2px 5px black, -2px 2px 5px black,
    5px 1px 5px black;
}


.box {
  margin-bottom: 30px;
}

.bold {
  font-weight: bold;
}

.text-align {
  text-align: center;
  justify-content: center;
}

.header-red {
  background-color: #c70101;
}

header {
  background-color: #c70101;
}

.header-red h4,
.header-red a,
.header-red p {
  color: white;
}

.header-red p {
  padding-top: 5vh;
}

.image-content {
  background-image: url("../public/manutd.jpg");
  object-fit: cover;

}